/* commons  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* init header  */

header {
    height: 80px;
    position: fixed;
    right: 0;
}

header nav{
    line-height: 80px;  
}

header nav ul li{
    display: inline-block;
    background-color: transparent;
}


header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

/* init main  */

#section1{
    height: 100vh;
    background-color: red;
}

#section2 {
    height: 100vh;
    background-color: green;
}

#section3 {
    height: 100vh;
    background-color: yellow;
}

/* sezione 1  */

.main-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.main-content img {
    height: 450px;
}

.main-content h2{
    text-transform: uppercase;
    font-size: 60px;
    color: yellow;
}